.search-bar {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem 2rem 0.4rem 0.4rem;
}

.search-bar-wrapper {
    position: relative;
    padding: 0.2rem;
    width: 100%;
    box-sizing: border-box;
}

.search-bar-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    color: white;
}