.glass {
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.31) !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5.8px) !important;
    -webkit-backdrop-filter: blur(5.8px) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    padding: 0.5rem 1rem !important;
    display: flex !important;
    justify-content: space-between !important;
    text-align: start !important;
}