.users-title {
    position: absolute;
    top: -1rem;
    left: 1rem;
    z-index: 9999;
}

.users-list {
    position: relative;
}

.users {
    display: flex;
    flex-wrap: wrap;
    padding: 0.6rem 1rem;
}

.glass-button {
    background: rgba(255, 255, 255, 0.51) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5.8px) !important;
    -webkit-backdrop-filter: blur(5.8px) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}